.app.light {
    --bg-color: #e8e8ea;
    --bg-color-inverted: #090949;

    --color-primary: #0232c2;
    --color-secondary: #0449e0;
    --color-primary-inverted: #049604;
    --color-secondary-inverted: #04ff04;
}